<a *ngIf="isSelected; else noSelected" class="list-menu-item is-active">
    <p> {{ listTitle}} </p>
    <div class="button-container">
        <button class="delete is-small" (click)='deleteList()'> Delete </button>
    </div>
</a>

<ng-template #noSelected>
<a ng-if="isSelected==0" class="list-menu-item" (click)='selectCurrent()'>
    <p> {{ listTitle}} </p>
    <div class="button-container">
        <button class="delete is-small" (click)='deleteList()'> Delete </button>
    </div>
</a>
</ng-template>
