/* You can add global styles to this file, and also import other style files */


$turquoise: #44ddd0;
$green: #27d7a1;

$light-green: #45f69e;

$light: #f8f8f8;
$dark-green: rgb(0, 100, 80);


$family-sans-serif: "Nunito", "sans-serif";
$primary: $green;

$link: $light-green;


$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

